.alertActive{
    display: flex;
}

.alertDisable{
    display: none;
}

#mainBox{
    position: fixed;
    z-index: 999;
    background-color: #0000007c;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}


#alertBox{
    border: 2px solid #FF5B2F;
    border-radius: 50px;
    min-width: 260px;
    width: 50vw;
    max-width: 495px;
    min-height: 300px;
    height: 40vw;   
    max-height: 395px; 
    display: flex;
    align-items: center;
    background-color: #000000;
    flex-direction: column;
    justify-content: space-between;
    
}

#alertBurgers{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 30px;
    padding-right: 50px;
    flex-grow: 1;
    
}

#alertBurgers > div > div{
    width: 30px;
    height: 5px;
    background-color: #fff;
}

#burgerAlert1{
    transform: rotate(45deg);
    margin-bottom: -5px;
}

#burgerAlert2{
    transform: rotate(-45deg);
    margin-top: -5px;
}

#pAlertBox{
    flex-grow: 5;
    display: flex;
    align-items: center;

}

#alert{
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    padding: 0 20px;
    padding-bottom: 50px;
}


