#header{
    background-color: #1E1E1E;
    width: 100vw;
    height: 48px;
    display: flex;
}

#boxTitle{
    width: 40vw;
    height: 48px;
}

#nav{
    width: 60vw;
    height: 48px;
    transition: all 1s;
}

#boxBurger{
    margin-top: 10px;
    margin-left: 50vw;
}

.burger{
    width: 35px;
    height: 4px;
    background-color: #ffffff;
    margin: 7px 0;
}

.toggleBurger{
    padding-top: 3px;
}

.toggleBurgerd > #boxBurger{
    padding-top: 5px;
}

.toggleBurger > #burger1{
    animation: forwards toggleBurger1 1s;
    animation-delay: 1s;
}

.toggleBurger > #burger2{
    animation: forwards toggleBurger2 1s;
}

.toggleBurger > #burger3{
    animation: forwards toggleBurger3 1s;
    animation-delay: 1s;
}

@keyframes toggleBurger1{
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(45deg);
    }
}

@keyframes toggleBurger2{
    0%{
        opacity: 1;
    }100%{
        margin-bottom: -11px;
        margin-top: -11px;
        opacity: 0;
    }
}

@keyframes toggleBurger3{
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(-45deg);

    }
}





.backBurger > #burger1{
    animation: forwards backBurger1 0.5s;
}

.backBurger > #burger2{
    animation: forwards backBurger2 2.5s;
}

.backBurger > #burger3{
    animation: forwards backBurger3 0.5s;
}

@keyframes backBurger1{
    0%{
        transform: rotate(45deg);
    }100%{
        transform: rotate(0deg);
    }
}

@keyframes backBurger2{
    0%{
        margin-top: -4px;
        margin-bottom: -4px;
        opacity: 0;
    }100%{
        margin-top: 6px;
        margin-bottom: 6px;
        opacity: 1;
    }
}

@keyframes backBurger3{
    0%{
        transform: rotate(-45deg);
    }100%{
        transform: rotate(0deg);

    }
}








